<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-402">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
            <h2 class="cs-title">Inside Sri Chan Thai Massage</h2>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <!--Mobile Image -->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-1.jpg" | resize({width: 272, height: 272}) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-1.jpg" | resize({width: 272, height: 272}) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-1.jpg" | resize({width: 272, height: 272}) | jpeg %}" type="image/jpeg">
                <!--Tablet Image -->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-1.jpg" | resize({width: 600, height: 600}) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-1.jpg" | resize({width: 600, height: 600}) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-1.jpg" | resize({width: 600, height: 600}) | jpeg %}" type="image/jpeg">
                <!--Desktop Image -->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-1.jpg" | resize({width: 1260, height: 800}) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-1.jpg" | resize({width: 1260, height: 800}) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-1.jpg" | resize({width: 1260, height: 800}) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/gal-1.jpg" | resize({width: 1260, height: 800}) | jpeg %}" alt="shop image" width="630" height="400" loading="lazy" decoding="async" >
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <!--Mobile Image -->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-4.jpg" | resize({width: 272, height: 272}) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-4.jpg" | resize({width: 272, height: 272}) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-4.jpg" | resize({width: 272, height: 272}) | jpeg %}" type="image/jpeg">
                <!--Tablet Image -->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-4.jpg" | resize({width: 600, height: 600}) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-4.jpg" | resize({width: 600, height: 600}) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-4.jpg" | resize({width: 600, height: 600}) | jpeg %}" type="image/jpeg">
                <!--Desktop Image -->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-4.jpg" | resize({width: 610, height: 800}) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-4.jpg" | resize({width: 610, height: 800}) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-4.jpg" | resize({width: 610, height: 800}) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/gal-4.jpg" | resize({width: 610, height: 800}) | jpeg %}" alt="shop image" width="305" height="400" loading="lazy" decoding="async">
            </picture>
            <!--Picture 5-->
             <picture class="cs-image">
                <!--Mobile Image -->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-5.jpg" | resize({width: 272, height: 272}) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-5.jpg" | resize({width: 272, height: 272}) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-5.jpg" | resize({width: 272, height: 272}) | jpeg %}" type="image/jpeg">
                <!--Tablet Image -->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-5.jpg" | resize({width: 600, height: 600}) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-5.jpg" | resize({width: 600, height: 600}) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-5.jpg" | resize({width: 600, height: 600}) | jpeg %}" type="image/jpeg">
                <!--Desktop Image -->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-5.jpg" | resize({width: 610, height: 800}) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-5.jpg" | resize({width: 610, height: 800}) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-5.jpg" | resize({width: 610, height: 800}) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/gal-5.jpg" | resize({width: 610, height: 800}) | jpeg %}" alt="shop image" width="305" height="400" loading="lazy" decoding="async">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <!--Mobile Image -->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-2.jpg" | resize({width: 272, height: 272}) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-2.jpg" | resize({width: 272, height: 272}) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-2.jpg" | resize({width: 272, height: 272}) | jpeg %}" type="image/jpeg">
                <!--Tablet Image -->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-2.jpg" | resize({width: 600, height: 600}) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-2.jpg" | resize({width: 600, height: 600}) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-2.jpg" | resize({width: 600, height: 600}) | jpeg %}" type="image/jpeg">
                <!--Desktop Image -->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-2.jpg" | resize({width: 610, height: 800}) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-2.jpg" | resize({width: 610, height: 800}) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-2.jpg" | resize({width: 610, height: 800}) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/gal-2.jpg" | resize({width: 610, height: 800}) | jpeg %}" alt="shop image" width="305" height="400" loading="lazy" decoding="async">
            </picture>
            <!--Picture 3-->
             <picture class="cs-image">
                <!--Mobile Image -->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-3.jpg" | resize({width: 272, height: 272}) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-3.jpg" | resize({width: 272, height: 272}) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-3.jpg" | resize({width: 272, height: 272}) | jpeg %}" type="image/jpeg">
                <!--Tablet Image -->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-3.jpg" | resize({width: 600, height: 600}) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-3.jpg" | resize({width: 600, height: 600}) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-3.jpg" | resize({width: 600, height: 600}) | jpeg %}" type="image/jpeg">
                <!--Desktop Image -->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-3.jpg" | resize({width: 610, height: 800}) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-3.jpg" | resize({width: 610, height: 800}) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-3.jpg" | resize({width: 610, height: 800}) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/gal-3.jpg" | resize({width: 610, height: 800}) | jpeg %}" alt="shop image" width="305" height="400" loading="lazy" decoding="async">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <!--Mobile Image -->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-6.jpg" | resize({width: 272, height: 272}) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-6.jpg" | resize({width: 272, height: 272}) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/gal-6.jpg" | resize({width: 272, height: 272}) | jpeg %}" type="image/jpeg">
                <!--Tablet Image -->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-6.jpg" | resize({width: 600, height: 600}) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-6.jpg" | resize({width: 600, height: 600}) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/gal-6.jpg" | resize({width: 600, height: 600}) | jpeg %}" type="image/jpeg">
                <!--Desktop Image -->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-6.jpg" | resize({width: 1260, height: 800}) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-6.jpg" | resize({width: 1260, height: 800}) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/gal-6.jpg" | resize({width: 1260, height: 800}) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/gal-6.jpg" | resize({width: 1260, height: 800}) | jpeg %}" alt="shop image" width="630" height="400" loading="lazy" decoding="async" >
            </picture>
        </div>
    </div>
</section>
                                