
<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-567">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">What Our Clients Say</h2>
             <p class="cs-text">
                We promise to take care of your child’s social, emotional, intellectual and physical needs with sensitive care and we also ensure you their security with our life.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-stars" aria-hidden="true" src="/assets/svgs/stars-2.svg" decoding="async" alt="quote icon" width="189" height="24">
                <p class="cs-item-text">
                    Curabitur vitae nunc sed velit dignissim sodales ut. Maecenas ultricies mi eget mauris pharetra et. Et ligula ullamcorper malesuada proin pellentesque diam volutpat commodo
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/svgs/google.svg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Vera Robinson
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-stars" aria-hidden="true" src="/assets/svgs/stars-2.svg" decoding="async" alt="quote icon" width="189" height="24">
                <p class="cs-item-text">
                    Curabitur vitae nunc sed velit dignissim sodales ut. Maecenas ultricies mi eget mauris pharetra et. Et ligula ullamcorper malesuada proin pellentesque diam volutpat commodo
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/svgs/google.svg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Benjamin Norris
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-stars" aria-hidden="true" src="/assets/svgs/stars-2.svg" decoding="async" alt="quote icon" width="189" height="24">
                <p class="cs-item-text">
                    Curabitur vitae nunc sed velit dignissim sodales ut. Maecenas ultricies mi eget mauris pharetra et. Et ligula ullamcorper malesuada proin pellentesque diam volutpat commodo
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/svgs/google.svg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Benjamin Norris
                    </span>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Reserve Your Table</a>
    </div>
</section>
                                