<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1498">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our services</span>
            <h2 class="cs-title">We Meet Kids at Their Level 
                Regardless of Their Age</h2>
            <p class="cs-text">
                We promise to take care of your child’s social, emotional, intellectual and physical needs with sensitive care and we also ensure you their security with our life.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue-1.jpg" | resize({width: 518, height: 405}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue-1.jpg" | resize({width: 518, height: 405}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue-1.jpg" | resize({width: 400, height: 311}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue-1.jpg" | resize({width: 400, height: 311}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue-1.jpg" | resize({width: 400, height: 311}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue-1.jpg" | resize({width: 518, height: 405}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue-1.jpg" | resize({width: 518, height: 405}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/deep-tissue-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" alt="deep tissue massage" width="259" height="203" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Deep Tissue Massage</h3>
                    <p class="cs-item-text">
                        Stitch day care mission is to provide affordable high-quality early education and childcare.
                    </p>
                    <a href="/treatment/deep-tissue-massage/" class="cs-link">
                        Discover Your Treatment
                        <img class="cs-arrow" loading="lazy" decoding="async"
                            src="/assets/svgs/arrow.svg" alt="icon"
                            width="20" height="20" aria-hidden="true" />
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                     <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thai-massage-1.jpg" | resize({width: 518, height: 405}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thai-massage-1.jpg" | resize({width: 518, height: 405}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thai-massage-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage-1.jpg" | resize({width: 400, height: 311}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage-1.jpg" | resize({width: 400, height: 311}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage-1.jpg" | resize({width: 400, height: 311}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage-1.jpg" | resize({width: 518, height: 405}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage-1.jpg" | resize({width: 518, height: 405}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/thai-massage-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" alt="thai massage" width="259" height="203" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Traditional Thai Massage </h3>
                    <p class="cs-item-text">
                        Stitch day care mission is to provide affordable high-quality early education and childcare.
                    </p>
                    <a href="/treatment/traditional-thai-massage/" class="cs-link">
                        Discover Your Treatment
                        <img class="cs-arrow" loading="lazy" decoding="async"
                            src="/assets/svgs/arrow.svg" alt="icon"
                            width="20" height="20" aria-hidden="true" />
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                     <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/back-1.jpg" | resize({width: 518, height: 405}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/back-1.jpg" | resize({width: 518, height: 405}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/back-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/back-1.jpg" | resize({width: 400, height: 311}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/back-1.jpg" | resize({width: 400, height: 311}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/back-1.jpg" | resize({width: 400, height: 311}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/back-1.jpg" | resize({width: 518, height: 405}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/back-1.jpg" | resize({width: 518, height: 405}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/back-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/back-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" alt="back massage" width="259" height="203" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Back & Shoulder Massage</h3>
                    <p class="cs-item-text">
                        Stitch day care mission is to provide affordable high-quality early education and childcare.
                    </p>
                    <a href="/treatment/back-neck-and-shoulder-massage/" class="cs-link">
                        Discover Your Treatment
                        <img class="cs-arrow" loading="lazy" decoding="async"
                            src="/assets/svgs/arrow.svg" alt="icon"
                            width="20" height="20" aria-hidden="true" />
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                     <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/swedish-1.jpg" | resize({width: 518, height: 405}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/swedish-1.jpg" | resize({width: 518, height: 405}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/swedish-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/swedish-1.jpg" | resize({width: 400, height: 311}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/swedish-1.jpg" | resize({width: 400, height: 311}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/swedish-1.jpg" | resize({width: 400, height: 311}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/swedish-1.jpg" | resize({width: 518, height: 405}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/swedish-1.jpg" | resize({width: 518, height: 405}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/swedish-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/swedish-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" alt="swedish massage" width="259" height="203" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Swedish Massage</h3>
                    <p class="cs-item-text">
                        Stitch day care mission is to provide affordable high-quality early education and childcare.
                    </p>
                    <a href="/treatment/swedish-massage/" class="cs-link">
                        Discover Your Treatment
                        <img class="cs-arrow" loading="lazy" decoding="async"
                            src="/assets/svgs/arrow.svg" alt="icon"
                            width="20" height="20" aria-hidden="true" />
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/foot-1.jpg" | resize({width: 518, height: 405}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/foot-1.jpg" | resize({width: 518, height: 405}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/foot-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/foot-1.jpg" | resize({width: 400, height: 311}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/foot-1.jpg" | resize({width: 400, height: 311}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/foot-1.jpg" | resize({width: 400, height: 311}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/foot-1.jpg" | resize({width: 518, height: 405}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/foot-1.jpg" | resize({width: 518, height: 405}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/foot-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/foot-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" alt="thai reflexology foot massage" width="259" height="203" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Thai Reflexology Massage</h3>
                    <p class="cs-item-text">
                        Stitch day care mission is to provide affordable high-quality early education and childcare.
                    </p>
                    <a href="/treatment/thai-reflexology-massage/" class="cs-link">
                        Discover Your Treatment
                        <img class="cs-arrow" loading="lazy" decoding="async"
                            src="/assets/svgs/arrow.svg" alt="icon"
                            width="20" height="20" aria-hidden="true" />
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                     <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aromatherapy-1.jpg" | resize({width: 518, height: 405}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aromatherapy-1.jpg" | resize({width: 518, height: 405}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aromatherapy-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aromatherapy-1.jpg" | resize({width: 400, height: 311}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aromatherapy-1.jpg" | resize({width: 400, height: 311}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aromatherapy-1.jpg" | resize({width: 400, height: 311}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aromatherapy-1.jpg" | resize({width: 518, height: 405}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aromatherapy-1.jpg" | resize({width: 518, height: 405}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aromatherapy-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/aromatherapy-1.jpg" | resize({width: 518, height: 405}) | jpeg %}" alt="aromatherapy massage" width="259" height="203" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <!--SVG Mask-->
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Aromatherapy Massage</h3>
                    <p class="cs-item-text">
                        Stitch day care mission is to provide affordable high-quality early education and childcare.
                    </p>
                    <a href="/treatment/aromatherapy-massage/" class="cs-link">
                        Discover Your Treatment
                        <img class="cs-arrow" loading="lazy" decoding="async"
                            src="/assets/svgs/arrow.svg" alt="icon"
                            width="20" height="20" aria-hidden="true" />
                    </a>
                </div>
            </li>
        </ul>
        <a href="/price-list/" class="cs-button-solid">All Treatments</a>
    </div>

</section>
                                