/*-- -------------------------- -->
<---    Featured Service 1      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-867 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
        }

        .cs-content {
            /* set text aling to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            /* 17 characters wide including spaces */
            max-width: 17ch;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            max-width: (630/16rem);
            /* 400px - 775px */
            height: clamp(25rem, 70vw, 48.4375rem);
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 1.5em;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 64rem) {
    #sbs-867 {
        padding: var(--sectionPadding);

        .cs-container {
            flex-direction: row;
            max-width: (1280/16rem);
            justify-content: space-between;
        }

        .cs-content {
            width: 53%;
            /* reset the padding, add the section padding back to the section container */
            padding: 0;
        }

        .cs-picture {
            width: 47vw;
            position: relative;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-867 {
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-picture {
                &:before {
                    background-color: var(--accent);
                }
            }
        }
    }
}

/* Mobile - 360px */
/* you can copy and paste these styles into the section CSS where you placed the #list-827 HTML, or you can place it in your global stylesheet so you can reuse the HTML in any Side By Side section on your site. That way when you make changes to it, it will also change everywhere in the site */
#quote-827 {
    width: 100%;
    max-width: (630/16rem);
    margin: 0 0 (32/16rem) 0;
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    background-color: #F8F5F1;
    border-radius: (16/16rem);
    position: relative;

    .cs-quote-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        width: 100%;
        max-width: (500/16rem);
        margin: 0 0 (16/16rem);
        color: #767676;
        display: block;
    }

    .cs-name {
        font-size: (16/16rem);
        line-height: 1.2em;
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
        margin: 0 0 (4/16rem);
        color: var(--headerColor);
        display: block;
    }

    .cs-job {
        font-size: (14/16rem);
        line-height: 1.5em;
        color: #767676;
        display: block;
    }

    .cs-quote-icon {
        /* 60px - 136px */
        width: clamp(3.75rem, 10vw, 8.5rem);
        height: auto;
        position: absolute;
        bottom: 0;
        /* 16px - 32px */
        right: clamp(1rem, 4vw, 2rem);
    }
}

/* Dark Mode, copy and paste only the styles inside the #list-827 brackets into your section's dark mode media query */
body.dark-mode {
    #quote-827 {
        background-color: var(--accent);

        .cs-quote-text,
        .cs-name {
            color: var(--bodyTextColorWhite);
        }

        .cs-job {
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
        }

        .cs-quote-icon {
            opacity: 0.2;
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-18 {
        padding: var(--sectionPadding);
        padding-top: 0;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-card-group {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (900/16rem);
            margin: 0;
            padding: (40/16rem) 0 (68/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (32/16rem);
            border-top: 1px solid var(--primary);
            border-bottom: 1px solid var(--primary);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            max-width: (368/16rem);
            margin: 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .cs-picture {
            margin-right: (20/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            /* 60px - 68px */
            width: clamp(3.75rem, 6vw, 4.25rem);
            height: clamp(3.75rem, 6vw, 4.25rem);
            border-radius: 50%;
            border: 2px solid var(--primary);
            /* prevents border from affecting height and width */
            box-sizing: border-box;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-icon {
            width: (30/16rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.5em;
            margin: 0;
            margin-bottom: (16/16rem);
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-solid {
            /* button override */
            margin-top: (-72/16rem);
            /* creates illusion of 2 separate lines */
            outline: (20/16rem) solid #fff;
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #services-18 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            column-gap: (40/16rem);
            row-gap: (40/16rem);
        }

        .cs-item {
            margin: 0;
            width: 46%;
        }

        .cs-button-solid {
            margin-top: ~"calc(clamp(4.5rem, 9vw, 5.625rem)*-1)";
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-18 {
        .cs-card-group {
            max-width: (1280/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-18 {
            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-button-solid {
                outline-color: var(--dark);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

                                

                                
